# Exemplo de configuração do instalador
BACKEND_URL=https://api.seudominio.com.br  # Adicionar o subdomínio do backend
FRONTEND_URL=https://app.seudominio.com.br # Adicionar o subdomínio do fronted
DB_HOST=postgres_whaticket
DB_PORT=5432
DB_USER=postgres
DB_PASS=12345
DB_NAME=whaticket
TZ=America/Sao_Paulo
JWT_SECRET=seuJWT
JWT_REFRESH_SECRET=seuJWTRefresh
PORT=3000
PROXY_PORT=443
CHROME_ARGS="--no-sandbox --disable-setuid-sandbox" # Não remova as aspas
REDIS_URI=redis://:12345@whaticket_redis:6379
REDIS_OPT_LIMITER_MAX=1
REDIS_OPT_LIMITER_DURATION=3000
GERENCIANET_SANDBOX=false
GERENCIANET_CLIENT_ID=
GERENCIANET_CLIENT_SECRET=
GERENCIANET_PIX_CERT=
GERENCIANET_PIX_KEY=
USER_LIMIT=10000
CONNECTIONS_LIMIT=100000
CLOSED_SEND_BY_ME=true
MAIL_HOST=smtp.hostinger.com       # Altere os dados do seu SMTP
MAIL_USER=contato@seudominio.com   # Altere os dados do seu SMTP
MAIL_PASS=senha                    # Altere os dados do seu SMTP
MAIL_FROM="Recuperar Senha <contato@seudominio.com>" # Não remova as aspas
MAIL_PORT=465                      # Altere os dados do seu SMTP 
REACT_APP_BACKEND_URL=https://api.seudominio.com.br # Adicionar o subdomínio do backend
REACT_APP_HOURS_CLOSE_TICKETS_AUTO=24
